conf/nodered/flows.json
[{"id":"39d16d964dbb703e","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"17dd48afa7f42d56","type":"debug","z":"39d16d964dbb703e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":180,"wires":[]},{"id":"36aaef6eae0d9b45","type":"inject","z":"39d16d964dbb703e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["17dd48afa7f42d56"]]},{"id":"dd1ab2ba597e20e7","type":"comment","z":"39d16d964dbb703e","name":"Flow Esempio","info":"","x":210,"y":120,"wires":[]}]